@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;

}

.header {
    color: white;
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 2px;
}

.header img{
    width: 1500px;
    height: 50px;
}

.card {
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 20px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-bottom: 10px;
    
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.sunny {
    background: linear-gradient(319deg, #ffcb43 0%, #ff6425 37%, #ff0016 100%);
}

.cloudy {
    background: linear-gradient(180deg, rgba(96, 125, 139, 0.8) 0%, rgba(96, 125, 139, 0.4) 50%, rgba(96, 125, 139, 0.8) 100%);
    color: #fff;
}

.rainy {
    background: linear-gradient(319deg, #032466 5%, #5f6fbb 37%, #00022e 100%);
}

.stormy {
    background: linear-gradient(319deg, #636365 5%, #2e2d31 37%, #232324 100%);
    color: #fff;
}

.drizzle {
    background: linear-gradient(319deg, #043496 5%, #6878ca 37%, #313581 100%);
    color: #fff;
}

.mist {
    background: linear-gradient(319deg, #636365 0%, #4b5bac 37%, #646a72 100%);
    color: #fff;
}
